<template>
  <div>
    <div class="header">
      <img
        v-on:click="goTo(-1)"
        :src="API + ':3000/images/cloudalien-small.png'"
      />
      Alien4Cloud interface for Clouni
      <a
        href="https://bura2017.github.io/clouni.github.io/en/dirhtml/index.html"
        ><img
          :src="API + ':3000/bower_components/requirejs/clouni-white.png'"
      /></a>
    </div>
    <div class="items">
      <div class="item">
        <div class="line">
          Come up with cluster name:
          <input class="input" v-model="cluster" placeholder="Cluster name" />
        </div>
        <div class="line">
          Select cloud service provider:
          <select class="input" v-model="provider">
            <option disabled :value="undefined">
              Please, select the provider:
            </option>
            <option v-for="option in providers" :key="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="line">
          <span v-for="blv in black_list_variants" :key="blv">
            <input
              type="checkbox"
              :id="blv"
              :value="blv"
              v-model="black_list"
            />
            <label :for="blv">{{ blv }}</label>
          </span>
          <button class="download" v-on:click="add(list_variant)">Add</button>
          <input
            class="input"
            v-model="list_variant"
            placeholder="tag to ignore"
          />
        </div>
      </div>
      <div class="item">
        <div class="btns">
          <button
            v-if="ansible != 'Loading...'"
            class="deploy"
            v-on:click="deploy(false)"
          >
            <div v-bind:style="{'background-image': url('clouni.png')}" class="baloon" />
            Deploy!
          </button>
          <button
            v-if="ansible != 'Loading...'"
            class="deploy undeploy"
            v-on:click="deploy(true)"
          >
            <div v-bind:style="{'background-image': url('clouni-undeploy.png')}" class="baloon" />
            Undeploy!
          </button>
        </div>
      </div>
    </div>

    <client-only placeholder="Loading...">
      <div class="items">
        <div class="item">
          <button class="download">
            <a :href="csar" :download="'csar.zip'"> Download CSAR </a>
          </button>
          <div class="code-snippet">
            <vue-code-highlight class="item" language="yaml">{{
              cleaned
            }}</vue-code-highlight>
          </div>
        </div>

        <div class="item" v-if="ansible != ''">
          <button class="download" v-if="ansible_err == ''">
            <a :href="API + ':3000/clouni/file'"> Download playbook </a>
          </button>
          <div class="code-snippet">
            <vue-code-highlight class="item" language="yaml">{{
              ansible
            }}</vue-code-highlight>
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { component as VueCodeHighlight } from "vue-code-highlight";
import "~/node_modules/vue-code-highlight/themes/prism-coy.css";
import "prism-es6/components/prism-yaml";

import yaml from "~/node_modules/js-yaml";

export default {
  env: {
    API: process.env.API || "http://localhost:3000",
  },
  components: {
    VueCodeHighlight,
  },
  name: "DeployPage",
  data() {
    return {
      black_list_variants: [
        "description",
        "metadata",
        "imports",
        "scalable",
        "endpoint",
      ],
      black_list: [
        "description",
        "metadata",
        "imports",
        "scalable",
        "endpoint",
      ],
      ansible: "",
      ansible_err: "not loaded",
      cluster: "example",
      provider: "openstack",
      providers: ["openstack", "amazon", "kubernetes"],
      list_variant: "",
    };
  },
  methods: {
    dfs: function (data, obj, n = 20) {
      if (n < 0) return;
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) {
          if (data.black_list.includes(key)) {
            delete obj[key];
          } else {
            data.dfs(data, obj[key], n - 1);
          }
        }
      }
    },
    add: function (l_v) {
      if (!l_v) return;
      var letters = /^[A-Za-z0-9\-\_]+$/;
      if (l_v.match(letters)) {
        this.black_list_variants.push(l_v);
        this.black_list.push(l_v);
        this.list_variant = "";
      } else {
        alert(`Bad token ${l_v}`);
      }
    },
    download: function (text) {
      return "data:text/plain;charset=utf-8," + encodeURIComponent(text);
    },
    deploy: function (rm) {
      this.ansible = "Loading...";
      var xmlHttp = new XMLHttpRequest();

      xmlHttp.open(
        "GET",
        `${process.env.API}:3000/clouni?topology=${encodeURIComponent(
          this.cleaned
        )}&provider=${this.provider}&cluster-name=${this.cluster}${
          rm ? "&delete=t" : ""
        }`,
        true
      ); // false for synchronous request
      xmlHttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      xmlHttp.setRequestHeader("Access-Control-Allow-Origin", "*");
      xmlHttp.onload = (e) => {
        var resp = JSON.parse(xmlHttp.responseText);
        this.ansible_err = resp.stderr;
        this.ansible = resp.stderr + resp.stdout;
      };
      xmlHttp.send(null);
    },
    goTo(arg) {
      this.$router.go(arg);
    },
    url(url1) {
      return 'url("' + process.env.API + ':3000/bower_components/requirejs/' + url1 + '")';
    }
  },
  computed: {
    cleaned() {
      var topology = yaml.load(this.$route.query.topology);
      topology.tosca_definitions_version = "tosca_simple_yaml_1_0";
      this.dfs(this, topology);
      return yaml.dump(topology);
    },
    csar() {
      return this.$route.query.csar;
    },
    API() {
      return process.env.API;
    }
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
.header {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  background-color: #358ccb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  margin-bottom: 2vh;

  color: white;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 1.5em;
    cursor: pointer;
    border: solid 3px #358ccb;
    border-radius: 3px;
  }

  img:hover {
    border: solid 3px aliceblue;
    opacity: 0.7;
  }
}

div {
  font-family: "Montserrat";
}

.items {
  display: flex;
  justify-content: space-between;

  .item {
    width: 49vw;
    display: block;

    .line {
      width: 100%;
      display: flex;
      padding: 5px;
      justify-content: space-between;
      align-items: center;

      .input {
        width: 8em;
        height: 1.4em;
        font-size: inherit;
        font-family: "Montserrat";
      }

      .btn {
      }
    }

    .btns {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .deploy {
        font-size: 1.5em;
        text-align: center;
        font-weight: 700;
        color: #358ccb;
        font-family: "Montserrat";
        position: relative;
        background-color: aliceblue;
        border: dashed #358ccb;
        border-radius: 5px;
        padding: 0.2em;

        cursor: pointer;

        .baloon {
          background-image: url("http://localhost:3000/bower_components/requirejs/clouni.png");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: -0.7em;
          width: 100%;
          height: 100%;
          bottom: -0.8em;
        }
      }

      .undeploy {
        cursor: no-drop;
        background-color: wheat;
        margin-left: 1vw;

        .baloon {
          left: auto;
          right: -2em;
          background-image: url("http://localhost:3000/bower_components/requirejs/clouni-undeploy.png");
        }
      }

      .deploy:hover {
        opacity: 0.7;
      }
    }
  }
}

.code-snippet {
  display: block;
  max-height: 68vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.code-snippet::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #f5f5f500;
  border-radius: 10px;
}

.code-snippet::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f500;
}

.code-snippet::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #c7e7fd),
    color-stop(0.72, #8dc7f1),
    color-stop(0.86, #358ccb)
  );
}

.download {
  font-weight: 500;
  color: #358ccb;
  font-family: "Montserrat";
  position: relative;
  background-color: aliceblue;
  border: solid #358ccb;
  border-width: 2px;
  margin: 0.5em;
}

.download:hover {
  background-color: #358ccb;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: inherit;
}
</style>