body {
    margin: 0;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local('fonts'), url(~assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: local('fonts'), url(~assets/fonts/Montserrat-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local('fonts'), url(~assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: local('fonts'), url(~assets/fonts/Montserrat-Light.ttf) format("truetype");
}